<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOM</title>
</head>
<body>
    <h1>Belajar DOM bersama <em>Hacktiv8</em></h1> 

    <div id="card">
        <div id="box-title"></div>
        <hr>
        <div class="box-desc"></div>
        <div class="box-desc"></div>
        <div class="box-desc"></div>
    </div>
    <script>
        //  getElementById

        //  Parent And Children Element

        //  Event Listener

        //  alert , prompt
    </script>
</body>
</html>