<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOM</title>
</head>
<body>
    <h1>Belajar DOM bersama <em>Hacktiv8</em></h1> 

    <div id="card">
        <div id="box-title"></div>
        <hr>
        <div class="box-desc"></div>
        <div class="box-desc"></div>
        <div class="box-desc"></div>
    </div>
    <script>
        //  getElementById
        // CASE: getElemenentById 'box-title' dan ubah content
        // CASE: getElementsByClassName 'box-desc' dan ubah content (OPTIONAL)

        //  Parent And Children Element

        //  Event Listener
        // CASE: event listener click pada buttom dan ubah content
        // CASE: event onclick pada button dan ubah content. 

        // alert, prompt
        // CASE: Event onclick pada button dan show alert

        // NICE TO TRY (OPTIONAL)
        /*
        CASE: 
            - Event onkeyup pada input dan dan perlihatkan value pada input di sebuah element
            - tambahkan validasi jika perlu: tidak boleh memasukkan karakter special (#&%;)
            - munculkan alert jika input masuk ke dalam validasi.
        */ 
        // CASE: Event onclik pada button kemudian ubah color pada sebuah element. 
        // CASE: button counter dan tambahin validasi tidak boleh minus.
    </script>
</body>
</html>